
@import 'base';

/* Add styles here */

//  Global variable scope

$brand-color: hsl(330, 55%, 60%);


.navbar {
  $height: 60px;
  align-items: center;
  background-color: #292929;
  display: flex;
  height: $height;
  border-bottom: 3px solid hsl(0, 0%, 94%);
  
  &::before {
    content: ' ';
    // border-top: 1px solid $brand-color;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .logo {
    flex-grow: 1;
    height: 140%;
    align-items: center;
    display: flex;
    padding-left: 1rem;
  }
  .nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  

  .menu-item {
    border-bottom: 2px solid transparent;
    color: #ffffff;
    flex-grow: 1;
    letter-spacing: 0.5px;
    line-height: $height; 
    height: $height;
    text-align: center;
    text-transform: uppercase;
    

  &:hover {
      background-color: hsla(0, 0%, 94%, 0.39);
      cursor: pointer;
      }

      &.active {
        border-color:rgba(255, 255, 255, 0.3882352941);
      }
    }
  }
  img {
    height: calc(100% - 1.5rem);
    width: auto;

  }
  
}



.responsive {
  width: 100%;
  height: 650px;
}

.container .box {
  display: grid;
  background-color: #f2f2f2;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px;
  height: 2200px;
  width: calc(100% - 5rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: -200px;
  position: relative;
  z-index: 2;
}

.darkbox {
  background-color: #292929;
  height: 650px;
  width: 100%;
  position: absolute;
  opacity: 0.4;
  z-index: 1;
  
  
}

.logoHeader {
  position:absolute;
    top:50%;
    left:50%;
    margin-top:-146px; 
    margin-left:-170px;  
    cursor:pointer;
    z-index: 3;
}

.logoHeader img {
  text-align: center;
  z-index: 5;
  position: relative;
  top: -100px;
}

body {
  background-color: #292929;
  height: 300px;
  width: auto;
}

 .heading1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  z-index: 5;
  position: relative;
  top: -2200px;
}

figure img {
  margin: auto;
  width: 100%;
  padding: 10px;
  margin-left: -2rem;
  
}

li {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  
}

.container-4 {
  display: none;
}

.heading2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  z-index: 5;
  position: relative;
  // top: -2200px;
}

.container-2 {
  z-index: 3;
  margin: 0 auto;
  
}

.button {
  background-color: rgb(83, 173, 201);
  // top: -2200px;
  border: none;
  padding: 20px;
  text-align: center;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  
  z-index: 6;
}

.button a {
  text-decoration: none;
  color: white;
}


// .container-3 {
//   z-index: 3;
//   position: absolute;
//   top: 2100px;
//   margin-right: 1rem;
//   max-width: 60rem;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   grid-gap: 10px;
// }

// img {
//   margin: 0 auto;
//   display: wrap;
//   flex-wrap: wrap;
// }

// .container-2 ul{
//   list-style: none;
  
// }

// figcaption ul li {
//   list-style: none;
//   text-align: center;
// }


// li {
// font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// text-align: center;
// display: flex;
// }

// figure {
//   display: wrap;
//   flex-wrap: wrap;
//   margin-left: 1rem;
//   position: relative;
//   top: -2200px;
//   z-index: 5;
// }

//  ul li {
//   float: left;
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//   font-size: 25px;
//   list-style-type: none;
//   position: relative;
  
// }





//  .container-4 {
//   display: none;
// }



// /*centers the footer nav - HOME, ABOUT and CONTACT*/

// footer .box nav a {
//     text-align-last: center;
//     padding-top: 1rem;
//     text-align: center;
//     color: #ffffff;
// }

// footer .box  {
//   margin-left: 3rem;
//   color: #ffffff;
//   margin-top: -100px;
// }


// /*text align and spacing between nav - HOME, ABOUT and CONTACT*/

// .footer-content {
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     text-align: center;
//     padding-top: 3%;
//     color: #ffffff;
//     position: absolute;
//     bottom: -2320px;
//     z-index: 5;
// }

// .footerLogo img{
//   position: absolute;
//   height: 120px;
//   width: auto;
//   top: 2750px;
//   margin-left: -5rem;
// }

// .footerLogo {
//   text-align: center;
// }

// footer .box a {
//   text-decoration: none;
//   width: 0 auto;
//   top: 1000px;
// }

// .box nav ul li a {
// position: relative;
// top: 1000px;

// }



// desktop view
@media all and (min-width:768px) {

  li {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-align: center;
  }

  .container-4 {
  display: inline-grid;
  margin: auto;
  width: 100%;
  padding: 10px;
  }
  figure img {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    height: 450px;
  }
  ul li {
    display: inline-grid;
    width: calc(33.33% - 3px);
    font-size: 1.5rem;

}

.box {
  clear: both;

}

.button {
  background-color: rgb(83, 173, 201);
  // top: -2200px;
  border: none;
  padding: 20px;
  text-align: center;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  
  z-index: 6;
}

  // .container-4 {
  //   display: block;
  // }

  // ul li {
  //   display: inline-block;
  //   width: calc(33.33% - 3px);
  //   font-size: 1.5rem;
  //   margin-left: .1rem;
  // }
  
  // img {
  //   margin: 0 auto;
  // }
  // body {
  //   margin: 0;
  //   padding: 0;
  //   border: 0;
  //   font-size: 100%;
  //   font: inherit;
  //   vertical-align: baseline;
  // }
  //   .container-2 {
  //     display: flex;
  //       max-width: 60rem;
  //       margin: 0 auto;
  //   }

  //   .button {
  //     background-color: rgb(83, 173, 201);
  //     border: none;
  //     padding: 20px;
  //     text-align: center;
  //     display: inline-block;
  //     font-size: 16px;
  //     cursor: pointer;
  //     border-radius: 4px;
  //     position: relative;
  //     bottom: 10rem;
  //     margin-left: 4.2rem;
  //     margin-right: 4.2rem;
  //     z-index: 5;
  //   }

}



